@font-face {
    font-family: 'cyberverse';
    src: url('../font/Cyberverse.otf');
}

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'cyberverse';
    background-color: #121212;
}
  
.center {
    color: #66ff99;
    font-size: 56px;
    display: flex;
    justify-content: center;
  }