@font-face {
    font-family: 'cyberverse';
    src: url('../font/Cyberverse.otf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'cyberverse';
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock {
    display: flex;
    color: rgb(89, 149, 206);
    font-size: 5rem;
}